<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="class">
        <form action="/add_dojos" METHOD="POST">
            <h1>New Dojo</h1>
            <label for="dojos_name"> Name:</label>
            <input type="text" name="dojos_name"> 
            <br><input type="submit" value="Create">
        </form>

        <div class="dojo">
            <h1>All Dojos</h1>
            {% for dojo in all_dojos %}
            <a href="/dojos_show/{{dojo.id}}"><h2>{{dojo.name}}</h2></a>
            {% endfor %}
        <a href="/ninjas">Add Ninja</a>
        </div>       
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
</body>
</html>